modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Auto Push Watcher"

[[workflows.workflow]]
name = "Auto Push Watcher"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run push:watch"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BLwAQ9BA55zaw2_be7hgH7tAvU47bJvKTI_HtZd6AGnSO0B5BESi69nWM8J3yiuFI8G5_1Mv-fptR-XoB72vBb0"
VAPID_PRIVATE_KEY = "0Waaa2AKteejU8aaO5G72mtPJ9RaEkVSjjHAhtPsZ9o"

[nix]
channel = "stable-25_05"
